.xfce4-panel {
	border: none;
}

.xfce4-panel button,
.genmon_plugin {
	border-radius: 6px;
	margin: 7px;
	padding: 0px 6px;
	box-shadow: none;
	border: none;
	background-color: #20222e;
	color: rgba(192, 202, 245, 0.7);
	box-shadow: inset 0px 0px 2px #282937;
}

.xfce4-panel button:hover {
	background-color: #2a2b36;
}

#separator-5 {
	color: #2a2b36;
}

#docklike-plugin .group {
	background-color: transparent;
	box-shadow: none;
	margin: 0px;
	border-radius: 0px;
	padding: 0px 8px;
}

#clock-button {
	background-color: transparent;
	color: rgba(192, 202, 245, 0.8);
	box-shadow: none;
}

#launcher-17 button {
	background-color: #9ece6a;
	border-radius: 999px;
	margin: 10px;
	padding: 0px 4px;
	box-shadow: none;
}

.xfce4-panel.background .tasklist button {
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
}

#whiskermenu-button {
	background-color: #7aa2f7;
	border-radius: 999px;
	margin: 10px;
	padding: 0px 4px;
	box-shadow: none;
}

#whiskermenu-window treeview {
	padding: 7px 0px 7px 10px;
}

#whiskermenu-window iconview {
	padding: 5px 0px;
	border-radius: 3px;
}

window#whiskermenu-window>frame>border {
	border: none;
	margin: 0px;
}

window#whiskermenu-window scrolledwindow {
	border: none;
}

#pager-13 grid {
	margin: 10px;
	border-radius: 15px;
}
#pager-13 button {
	padding: 0px;
	margin: 7px 3px;
	background-color: transparent;
	font-size: 0px;
	border-radius: 69px;
	box-shadow: inset 0px 0px 2px #7aa2f7;
}
#pager-13 button:hover {
	background-color: #7aa2f7;
}
#pager-13 button:checked {
	box-shadow: none;
	background-color: #9ece6a;
}

* {
	-ThunarAbstractIconView-row-spacing: 10px;
	-ThunarAbstractIconView-column-spacing: 10px;
}

menu,
.context-menu {
	border-radius: 10px;
}

VteTerminal, vte-terminal {
	padding: 20px;
}

#XfceNotifyWindow {
	border: 0px;
	/* Let picom decide the border radius */
	border-radius: 0px;

}
#XfceNotifyWindow progressbar {
	border-radius: 6px;
}
#XfceNotifyWindow progressbar progress,
#XfceNotifyWindow progressbar trough {
	min-height: 4px;
}
#XfceNotifyWindow image {
	-gtk-icon-transform: scale(0.5);
	background-color: #2a2c37;
	box-shadow: inset 0px 0px 2px #323340;
	border-radius: 6px;
}

.xfsm-logout-dialog {
	border: 2px solid #1a1b26;
}
.xfsm-logout-dialog * {
	margin: 3px;
}