/* To somewhat fix the shadow issue of picom with gtk4 menus */
popover contents {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;
}