::placeholder
{
	color: #ccc;
	font-size: 16px;
	font-family: roboto;
}

*
{
	font-family: roboto;
	outline: none;
	line-height: 1.2em;
	color: #eee;
}

body
{
	background-image: url('vinyl.jpg');
	background-size: cover;
	background-position: center;
}

a { text-decoration: none; }
p { margin: 0; }

#button-container
{
	background-color: #2f343f;
	position: absolute;
	bottom: 75px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	overflow: auto;
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

button
{
	background-color: transparent;
	border: none;
	padding: 20px;
	transition: 0.15s;
}

button:hover
{
	cursor: pointer;
	background-color: rgba(255,255,255,0.05);
	box-shadow: inset 0 -2px #bf616a;
}

button:active
{
	background-color: #bf616a;
}

button a i
{
	font-size: 28px !IMPORTANT;
	color: #ddd;
}

form
{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}

/* The searchbar */
input
{
	width: 450px;
	border: none;
	color: #eee;
	border-bottom: 2px solid #ccc;
	padding: 14px 24px;
	transition: 0.15s;
	background-color: #2f343f;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 4px;
	font-size: 16px;
}

input:focus { border-color: #bf616a; }

@media screen and (max-width: 600px)
{
	#button-container
	{
		width: 100%;
		border-radius: 0;
		bottom: 0;
	}
}